<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cineario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main/main.css" />
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="main/main.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-light bg-main-white">
        <a style="color: #f9f9f9; font-size: 5px;" class="navbar-brand hidden" href="#">Navbar</a>
    </nav>
    <div id="nav">
        <nav style="margin-top: -5px;" class="navbar navbar-expand-sm navbar-light bg-main-white sticky-top p-verticalfull shadow-down">
            <a class="navbar-brand ml-2 logo" href="#"><b>Cineario</b></a>
            <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav" style="margin-right: auto;margin-left: auto;">
                    <li class="nav-item" style="margin-right: 1em;">
                        <a class="nav-link" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="margin-right: 1em;">
                        <a class="nav-link" href="#">ภาพยนตร์</a>
                    </li>
                    <li class="nav-item" style="margin-right: 1em;">
                        <a class="nav-link" href="#">โรงภาพยนตร์</a>
                    </li>
                </ul>
                <a @click.prevent="openPopup" style="font-size: 12px" id="sign-up" class="nav-item my-2 link text-md-right" onclick="document.getElementById('sign-in').style.display='block'" href="#">
                    <span v-if="sign_display === 'Sign-in/Sign-up'">
                    <i style="color:#191919!important" class="fas fa-sign-in-alt"></i>
                </span>
                    <span v-else>
                    <i style="color:#191919!important" class="fas fa-user"></i>
                </span> {{ sign_display }}</a>
            </div>
        </nav>
    </div>
    <!-- Login -->

    <div id="sign-in" class="modal">

        <form class="modal-content animate">
            <!-- <div class="modal-content animate"> -->
            <div class="logocontainer">
                <span onclick="document.getElementById('sign-in').style.display = 'none'" class="close" title="Close Modal">&times;</span>
                <div class="avatar logo">Cineario</div>
            </div>

            <div class="container">
                <div class="text-center">
                    <span v-if="signed">
                        <button @click.prevent="logout" class="btn btn-primary justify-content-center px-4" type="submit">Log out</button>
                    </span>
                    <span v-else>
                        <input v-model="username" type="text" placeholder="Username" id="uname" required>
    
                        <input v-model="password" type="password" placeholder="Password" id="psw" required><br>
                        <span v-if="signup">
                            <input v-model="confirmpass" type="password"  placeholder="Confirm Password" id="conpsw"required><br>
                        </span>

                    <div class="lower-part">
                        <span v-if="!signup">
                                <button @click.prevent="setSignDisplay"style="float: left;" class="btn btn-primary justify-content-left px-4" type="submit">Sign-in</button>
                                <label style="float: right;" class="justify-content-end">
                                        <input type="checkbox" checked="checked" name="remember"> Remember me <br>
                                        <span><a @click.prevent="signup = !signup" href="#">Sign-up</a></span>
                        </label>
                        </span>
                        <span v-else>
                                <button @click.prevent="checkDisplay" class="btn btn-primary justify-content-center px-4" type="submit">Sign-up</button>
                            </span>
                    </div>
                    </span>
                </div>
            </div>

            <!-- </div> -->
        </form>
    </div>
    <!-- end login -->
    <!-- test -->
    <div style="color: transparent">

        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque provident nesciunt quas maxime unde facilis numquam dolore non ab, quisquam molestiae consequatur tempora necessitatibus eligendi excepturi ullam quaerat ipsam?</h1>
    </div>
    <!-- test -->
    <!-- footer -->
    <footer class="footer mt-auto ">
        <div class=" p-sidefull container-fluid ">
            <div class="footer bg-main-white ">
                <div class="row">
                    <div class=" col-md-4 p-5 ">
                        <div class="footer-logo d-flex justify-content-between logo">Cineario</div>
                    </div>
                    <div class="col-md-4 p-5 text-center ">
                        <div class="row social-media d-flex justify-content-center ">
                            <div class="col-md-2 ">
                                <a href="# "><i class="fab fa-instagram link-reverse "></i></a>
                            </div>
                            <div class="col-md-2 ">
                                <a href="# "><i class="fab fa-facebook-square link-reverse "></i></a>
                            </div>
                            <div class="col-md-2 ">
                                <a href="# "><i class="fab fa-twitter link-reverse "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 pt-4 pb-5 px-5 ">
                        <div class="row d-flex justify-content-end social-media ">
                            Cineario Cineplex
                        </div>
                        <div class="row d-flex justify-content-end link ">
                            <a href="#">Contact our support</a>
                        </div>
                        <div class="row d-flex justify-content-end link ">
                            <a href="#">About us</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Part  -->
    <script name="authen-system">
        var auth = new Vue({
            el: "#sign-in",
            data: {
                signup: false,
                signed: false,
                btntext: 'Sign-in',
                username: '',
                password: '',
                confirmpass: '',
            },
            methods: {
                setSignDisplay() {
                    console.log('setting..')
                    if ((!(this.username === '') && this.username.length < 9) &&
                        (!(this.password === '')) && this.password.length > 5) {
                        console.log("changing");

                        nav.sign_display = this.username;
                        this.username = ''
                        this.password = ''
                        this.confirmpass = ''
                        this.signed = true;
                        document.getElementById('psw').classList.remove('red-holder');
                        document.getElementById('uname').classList.remove('red-holder');
                        document.getElementById('sign-in').style.display = 'none'
                    } else {
                        console.log("nochange");
                        document.getElementById('psw').classList.add('red-holder');
                        document.getElementById('uname').classList.add('red-holder');
                    }
                },

                logout() {
                    console.log("logout")
                    nav.sign_display = "Sign-in/Sign-up";
                    this.signed = false;
                    document.getElementById('sign-in').style.display = 'none'
                },
                checkDisplay() {
                    console.log("value missing")
                    if ((!(this.username === '') && this.username.length < 9) &&
                        (!(this.password === '') && this.password.length > 5) &&
                        (!(this.confirmpass === '')) && this.password.length > 5) {
                        console.log("convert signup")
                        this.signup = !this.signup
                        document.getElementById('psw').classList.remove('red-holder');
                        document.getElementById('uname').classList.remove('red-holder');
                        document.getElementById('conpsw').classList.remove('red-holder');
                    } else {
                        document.getElementById('psw').classList.add('red-holder');
                        document.getElementById('uname').classList.add('red-holder');
                        document.getElementById('conpsw').classList.add('red-holder');
                    }
                }
            }
        })
        var nav = new Vue({
            el: '#nav',
            data: {
                sign_display: 'Sign-in/Sign-up',

            },
            methods: {
                openPopup() {
                    document.getElementById('psw').classList.remove('red-holder');
                    document.getElementById('uname').classList.remove('red-holder');
                    document.getElementById('conpsw').classList.remove('red-holder');
                }
            },
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js " integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js " integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k " crossorigin="anonymous "></script>
</body>

</html>