/* Color */

.bg-yellow-brown {
    background-color: #ebe4e2;
}


/* color end */


/* font */

@font-face {
    font-family: Might-type;
    src: url(../font/Mightype\ Script.otf)
}


/* font end */

body {
    background-color: #e0dbd3!important;
    z-index: -1020;
}


/* Accessproies */

.p-verticalfull {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.p-sidefull {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.m-verticalfull {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.m-sidefull {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.link {
    color: rgba(0, 0, 0, .5);
}

.link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
}

.link-reverse {
    color: rgba(0, 0, 0, .7);
}

.link-reverse:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}


/* Accessories end */


/* footer */

.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    margin: 0 auto;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.social-media {
    font-size: 30px;
}

.footer-logo {
    width: 50px;
    height: 50px;
}


/* NavBar */

.navbar-brand {
    font-family: Might-type;
}

.navbar {
    padding: 0rem 1rem;
}

.nav-link {
    border: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid #d8b3a8;
}

.nav-item.active {
    border-bottom: 2px solid #d8b3a8;
}


/* NavBar end */

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

input { 
    text-align: center;
    color: blue;
}

select{
    width: 33%;
    padding: .5em;
    font-family: 'Kanit', sans-serif;
    font-size: 1.25em;
    background: transparent;
    text-align: center;
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

